body {
  background-color: #1a1a1d;
}

header {
  top: 0;
  height: 8vh;
  width: 100vw;
}

.profile-h {
  position: absolute;
  top: 2vh;
  width: 7vh;
  border-radius: 60%;
  right: 1vw;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  padding-left: 20px;
  top: 2vh;
  width: 50%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 30%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.ad {
  font-family: 'Russo One', sans-serif;
  color: #fcfeff;
  font-size: 2vw;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  background-color: #000000;
  color: #fff;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: -200px;
  transition: left 0.3s ease;
}

.sidebar.active {
  left: 0;
}

.ad {
  text-align: center;
  padding: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-family: 'Caprasimo', cursive;
  font-family: 'Russo One', sans-serif;
  font-size: 1.5vw;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  ul li a {
    font-size: 3vw; /* Adjust the font size to your preference */
  }
}

ul li a i {
  margin-right: 10px;
}

#check {
  display: none;
}

#btn,
#cancel {
  cursor: pointer;
  display: block;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ .sidebar #btn {
  color: transparent;
}

#check:checked ~ .sidebar #cancel {
  color: #fff;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .sidebar {
    width: 30%;
    left: -100%;
   
  }

  .sidebar.active {
    left: 0;
  }

  .ad {
    padding: 10px 0;
  }

  ul li a {
    padding-left: 0px;
    padding: 8px;
  }
}

section {
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.profile-pic {
  position: absolute;
  width: 3vw;
  border-radius: 50%;
  padding: 2px;
  right: 15px;
  background: #ffffff;
}

.icon {
  width: 1.6vw;
  right: 15px;
  position: absolute;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .icon {
    width: 8%; /* Adjust the width to your preference */
    right: 10px;
    position: absolute;
  }
}

.pr,
.add {
  position: absolute;
  width: 2.5vw;
}

.context {
  padding-left: 20px;
  color: #950740;
  display: flex;
  font-size: 3vw;
  font-family: 'Caprasimo', cursive;
  font-family: 'Russo One', sans-serif;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  section {
    height: auto;
    padding: 20px;
  }

  .profile-pic {
    width: 10%;
    right: 10px;
  }

  .icon {
    width: 5%;
    right: 10px;
  }

  .pr,
  .add {
    width: 8%;
  }

  .context {
    font-size: 6vw;
  }
}
